openapi: "3.0.0"
info:
  title: こころい木
  version: "1.0.0"

servers:
  - url: https://cocoroiki-moc.yumekiti.net/
    description: Mock server
  - url: https://cocoroiki-bff.yumekiti.net/
    description: BFF server
  - url: https://cocoroiki-api.yumekiti.net/
    description: API server
  - url: https://cocoroiki-strapi.yumekiti.net/
    description: Strapi server
  - url: http://localhost:3002
    description: Local Mock Server
  - url: http://localhost:1337
    description: Local API Server

tags:
  - name: users
    description: ユーザー
  - name: profiles
    description: プロフィール
  - name: families
    description: 家族

paths:
  /api/app-users:
    $ref: ./paths/users.yml
  /api/app-users/{id}:
    $ref: ./paths/user.yml
  /api/profiles:
    $ref: ./paths/profiles.yml
  /api/profiles/{id}:
    $ref: ./paths/profile.yml
  /api/families:
    $ref: ./paths/families.yml
  /api/families/{id}:
    $ref: ./paths/family.yml
  /api/posts:
    $ref: ./paths/posts.yml
  /api/posts/{id}:
    $ref: ./paths/post.yml
  /api/comments:
    $ref: ./paths/comments.yml
  /api/comments/{id}:
    $ref: ./paths/comment.yml
  /api/trees:
    $ref: ./paths/trees.yml
  /api/trees/{id}:
    $ref: ./paths/tree.yml
  /api/quest_types:
    $ref: ./paths/quest_types.yml
  /api/quest_types/{id}:
    $ref: ./paths/quest_type.yml
  /api/rewards:
    $ref: ./paths/rewards.yml
  /api/rewards/{id}:
    $ref: ./paths/reward.yml
  /api/quests:
    $ref: ./paths/quests.yml
  /api/quests/{id}:
    $ref: ./paths/quest.yml

components:
  $ref: ./components.yml
